.THIS .addNewJob {
    float: right;
    margin-top: -35px;
}
.THIS .taxableToggle{
    float:right;
}
.THIS .saveJobs{
   margin-right: 45%;
    margin-top: -4%;
    float: right;
  
}
.THIS .helptextClass{
    margin-bottom: -1.3%;
}
.THIS .refreshButton{
     float: right;
    margin-right: 5%;
    margin-top: -4%;
    font-size: 14.5px;
}

.THIS .slds-truncate{
    white-space: normal;
}

.THIS .slds-spinner_container  {
    
        position: fixed;
        top: 50%;
        bottom: 50%;
        
}
.THIS .spins::after {
    position: absolute;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}